.bookcard{
    /* padding:10px; */
    margin:10px;
    padding-top:1.5rem;
    position: relative;
    background-color: white;
    height: 260px;
    width: 270px;
    border: 1px solid rgba(106, 111, 119, 0.15);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .cardBody{
    display: flex;
    align-items: center;
  }